<style>
  .header {
    position: fixed;
    width: 100%;
    padding: 16px 0;
    z-index: 9999;
    background: transparent;
    transition: .3s;
  }

  .header__container {
    max-width: 1160px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .header_links {
    display: flex;
    justify-content: end;
    gap: 8px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .header_links a:first-child {
    color: rgba(255, 255, 255, 0.40);
    letter-spacing: 0.6px;
  }

  .header__container img {
    max-width: 72px;
    transition: .3s;
  }

  .header {
    text-transform: capitalize;
    background: rgba(29, 28, 28, 0.40);
    backdrop-filter: blur(12px);
  }

  .headerScrolled {
    transition: .3s;
  }

  .headerScrolled img {
    max-width: 48px;
    transition: .3s;
  }

  .header nav a {
    color: inherit;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
  }

  .header__highlightedLink {
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 100px;
    font-weight: 500;
    transition: .2s linear;
  }

  .header__highlightedLink:hover {
    background: #fff;
    color: #000 !important;
    transition: .2s linear;
  }

  .header__nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    text-wrap: nowrap;
    align-items: center;
    padding: 0;
  }

  .header__navCta {
    font-style: normal;
    font-weight: 700;
    display: inline-flex;
    font-size: 20px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #FFF;
    text-decoration: none;
    color: inherit;
  }

  .header__navCta:hover {
    background: #fff;
    color: #000;
  }

  #header__mobileMenuOpen,
  #header__mobileMenuNav {
    display: none;
  }

  /* Laptop */
  @media screen and (max-width: 1024px) {
    .header__container {
      text-align: left;
      display: grid;
      grid-template-columns: 1fr auto auto;
      gap: 40px;
    }

    .header {
      padding: 20px;
      box-sizing: border-box;
    }

    #header__mobileMenuOpen {
      display: block;
      filter: invert(1);
      width: 40px;
    }

    .header__nav,
    .header__navCta {
      display: none;
    }

    #header__mobileMenuNav.active {
      background: #000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #header__mobileMenuClose {
      position: absolute;
      height: 40px;
      top: 0;
      right: 0;
      margin: 40px 40px 0 0;
      filter: invert(1);
    }

    .header__mobileMenuLinks {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 24px;
    }

    #header__mobileMenuNav .header__mobileMenuLinks a {
      font-size: 4vw;
    }
  }

  /* Mobile */
  @media screen and (max-width: 600px) {
    #header__mobileMenuNav .header__mobileMenuLinks a {
      font-size: 8vw;
    }
  }
</style>
<header id="header" class="header">
  <div class="header__container">
    <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/cake_logo.svg" /></a>
    
    <nav class="header__nav">
      {% assign menu = linklists['main-menu'] %}

      <ul>
        {% for item in menu.links %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% if item.links.size > 0 %}
              <ul>
                {% for sub_item in item.links %}
                  <li>
                    <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>

    <a href="/pages/get-started" class="header__navCta">Make Jersey</a>

    <div class="header_links">
      <a>EN</a>
      <a>JP</a>
    </div>
    <img id="header__mobileMenuOpen" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/bars-staggered_9784330.svg?v=1724897862" />
  </div>

  <div id="header__mobileMenuNav">
    <nav class="header__mobileMenuLinks">
      {% assign menu = linklists['main-menu'] %}
        {% for item in menu.links %}
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% if item.links.size > 0 %}
                {% for sub_item in item.links %}
                    <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </nav>

    <img id="header__mobileMenuClose" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/x_7720316.svg?v=1724898335" />
  </div>

</header>

<script>
  window.addEventListener('scroll', () => {
    if (window.scrollY >= 104) {
      document.getElementById("header").classList.add("headerScrolled");
    } else {
      document.getElementById("header").classList.remove("headerScrolled");
    }
  });

  // Mobile menu
  document.getElementById('header__mobileMenuOpen').addEventListener('click', () => {
      document.getElementById('header__mobileMenuNav').classList.add('active');
  });
  document.getElementById('header__mobileMenuClose').addEventListener('click', () => {
      document.getElementById('header__mobileMenuNav').classList.remove('active');
  });
</script>