<section class="home__hero">
  <div class="hero__container">
    <div>
      <h1>the Cake<br>team Spirit</h1>
      <p>Custom cycling apparel that combines bold design, superior craftsmanship, and a love for community.</p>
      <div class="hero__buttons">
        {% include 'button', href: "#home__contact", btn_class: 'primary', btn_text: 'Make Jersey' %}
        {% include 'button', href: "#home__contact", btn_class: 'secondary', btn_text: 'Learn More' %}
      </div>
    </div>
    <div>
      
      {% assign hero__jersey_url = images['hero-jersey.png'] | image_url: width: 700 %}
      <img data-src="{{ hero__jersey_url }}" alt="Potion Header" class="lazyload hero__jersey floating">
      <img class="hero__circleText_2 rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/hero-circle-text.svg" />
      <div class="home__hero_socialMedia">
        <a href=""><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/bxl_facebook.svg?v=1717381227" /></a>
        <a href=""><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/simple-icons_x.svg?v=1717381227" /></a>
        <a href="https://www.instagram.com/cake.teamspirit/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/iconoir_instagram.svg?v=1717381228" /></a>
        <a href=""><img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/mdi_youtube.svg?v=1717381227" /></a>
      </div>
    </div>
  </div>
</section>
<section class="home__aboutUs">
  <div class="aboutUs__container">
    <div>
      <h2>we are canvas</h2>
      <h2>for your story</h2>
    </div>
    <p>At Cake Make, we celebrate the spirit of unity and the thrill of the ride. Our custom-made cycling wear is crafted to reflect your team's unique passion and drive, helping you make a bold statement on every ride.</p>
    {% include 'button', btn_class: 'primary', btn_text: 'Learn More' %}
  </div>
  <img class="aboutUs__blueLine" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/aboutUs-blue-line.svg?v=1717052993"/>
</section>
<section class="home__marquee1">
    <div class="marquee">
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
    </div>
    <div class="marquee">
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
      <h3>the cake team spirit&nbsp;-&nbsp;</h3>
    </div>
</section>
<section class="home__cakeMake">
  <div class="home__cakeMake_container">
    <h2>cake make</h2>
    {% comment %} SWIPER TEST {% endcomment %}
<style>
  .swiper {
  width: 1140px;
}
</style>
<!-- Slider main container -->

{% assign home__cakeMake_gypsyJersey_url = images['gypsy-cafe-jersey.png'] | image_url: width: 700 %}
{% assign home__cakeMake_alkemJersey_url = images['jersey-alkem.png'] | image_url: width: 700 %}
{% assign home__cakeMake_squadJersey_url = images['jersey-squad.png'] | image_url: width: 700 %}

<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="embla__slide">
        <div>
          <h3>Tailored Designs</h3>
        <p>Bold, vibrant, and uniquely yours — our designs capture your team's essence.</p>
        <div class="home__cakeMake_buttons">
          {% include 'button', btn_class: 'primary', btn_text: 'Get A Quote' %}
          {% include 'button', btn_class: 'secondary', btn_text: 'Learn More' %}
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div class="embla__slide_imgBox">
          <img class="embla__slide_textCircle rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/click-to-know_circle.svg?v=1717983903" />
          <img src="{{ home__cakeMake_gypsyJersey_url }}" alt="Gypsy Jersey" class="home__cakeMake_jersey">
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="embla__slide">
        <div>
          <h3>Superior Craftsmanship</h3>
        <p>High-performance materials ensure comfort and durability on every ride.</p>
        <div class="home__cakeMake_buttons">
          {% include 'button', btn_class: 'primary', btn_text: 'Get A Quote' %}
          {% include 'button', btn_class: 'secondary', btn_text: 'Learn More' %}
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div class="embla__slide_imgBox">
          <img class="embla__slide_textCircle rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/click-to-know_circle.svg?v=1717983903" />
          <img src="{{ home__cakeMake_alkemJersey_url }}" alt="Alkem Jersey" class="home__cakeMake_jersey" />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="embla__slide">
        <div>
          <h3>Full Customization</h3>
        <p>From concept to creation, we bring your vision to life with meticulous attention to detail.</p>
        <div class="home__cakeMake_buttons">
          {% include 'button', btn_class: 'primary', btn_text: 'Get A Quote' %}
          {% include 'button', btn_class: 'secondary', btn_text: 'Learn More' %}
        </div>
        <img class="home__cakeMake_arrow" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/Arrow.svg?v=1717133953" />
        </div>
        <div class="embla__slide_imgBox">
          <img class="embla__slide_textCircle rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/click-to-know_circle.svg?v=1717983903" />
          <img src="{{ home__cakeMake_squadJersey_url }}" alt="Squad Jersey" class="home__cakeMake_jersey" />
        </div>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<script>
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  autoplay: {
    delay: 5000,
  },

});
</script>

{% comment %} SWIPER TEST {% endcomment %}
  </div>
  
</section>

<section class="home__teamCollection">
  <div class="home__teamCollection_container">
    <h2>Team Collection</h2>
    <p>Check out our custom creations for various teams and see how we bring their visions to life.</p>
    <div>
      <!-- Collections Template (e.g., collections.liquid or a custom section) -->

{% assign selected_collection_names = "Allkem,Gypsy Cafe x Chapter 2,Anabia,SQUAD,EQUITY" | split: "," %}

<div class="home__teamCollection_grid">
  {% for collection in collections %}
    {% if selected_collection_names contains collection.title %}
      <div class="home__teamCollection_item">
        <a href="{{ collection.url }}">
          {% if collection.image %}
            <img src="{{ collection.image.src | img_url: '400x' }}" alt="{{ collection.title }}">
          {% else %}
            <img src="https://via.placeholder.com/300" alt="{{ collection.title }}">
          {% endif %}
          <h3>{{ collection.title }}</h3>
          <p>{{ collection.description | truncate: 150 }}</p>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  <div class="home__teamCollection_cta">
    <a href="#home__contact">Create<br>your own</a>
  </div>
</div>

    </div>
  </div>
  <img class="home__teamCollection_line" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/team_collection_line.svg?v=1717661780"/>
</section>

{% assign home__testimonials_img1_url = images['b7646d6f3df338c08debe74099700cae.jpg'] | image_url: width: 700 %}

<section class="home__testimonials">
  <div class="home__testimonials_container">
    <h2>Shoutout from</h2>
    <h2>the Teams</h2>
    <div class="home__testimonials_topRow">
      <img class="home__testimonials_img1" src="{{ home__testimonials_img1_url }}" />
      <h3>Team<br/>Anabia</h3>
    </div>
    <div class="home__testimonials_bottomRow">
      <div>
        <img class="home__testimonials_img2" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/03dc6db76e27d13387963f15d55637b6.jpg?v=1717138725" />
      <p>Early 2022, I approached Brano with my idea on a team jersey and Brano was able to quickly put my ideas and colours together into a perfect design.  The design, look and feel are exactly what I was looking for. In my 20 years of road bicycle racing, they are by far the best I've ever had! They feel great and the look AWESOME!
      <br/><br/>
      — David, Team Anabia</p>
      </div>
      <div>
        <div class="home__testimonials_img3">
          <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/8875bb804f2574c763de03630a61032b.jpg?v=1717140189" />
        </div>
        <div class="home__testimonials_img4">
          <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/648b11ec38bf8523e175650f7831e7d7.jpg?v=1717140633" />
        </div>
      </div>
    </div>
  </div>
  <img class="home__testimonials_blueLine" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/testimonials_line.svg?v=1717662128" />
</section>
<section class="home__marquee1">
    <div class="marquee">
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
    </div>
    <div class="marquee">
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
      <h3>Start Your Adventure&nbsp;-&nbsp;</h3>
    </div>
</section>

{% assign home__cakeOriginals_img1_url = images['cf1cb3453fef5a1ffff1b14d5ab4348a.jpg'] | image_url: width: 700 %}
{% assign home__cakeOriginals_img2_url = images['5ff1685a152e3c0db4a14dcdac5f6a5a.jpg'] | image_url: width: 700 %}
{% assign home__cakeOriginals_img3_url = images['eaf2526a9f532daf15400ffc31963203.jpg'] | image_url: width: 700 %}
{% assign home__cakeOriginals_img4_url = images['1cb10ee2f142d058ffa748728b331bee.jpg'] | image_url: width: 700 %}
{% assign home__cakeOriginals_img5_url = images['7f17acc81d0a5394c2f49f850b66d8d7.jpg'] | image_url: width: 700 %}
{% assign home__cakeOriginals_img6_url = images['45d82a84a5fda90d7300b7cd89f1bb31.jpg'] | image_url: width: 700 %}
{% assign home__cakeOriginals_img7_url = images['a21d351d51f1aebdc309525b0e1e2d1d.jpg'] | image_url: width: 700 %}

<section class="home__cakeOriginals">
  <style>
    .home__cakeOriginals .swiper {
      width: 100%;
      height: auto;
    }

    @media screen and (max-width: 1024px) {
      .home__cakeOriginals .swiper {
        width: 100vw;
        height: auto;
      }
    }
  </style>
  <div class="home__cakeOriginals_container">
    <div class="home__cakeOriginals_headingsBox">
      <h2>Explore our</h2>
      <h2>original collection</h2>
    </div>
    <div class="home__cakeOriginals_contentBox">
      <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="{{ home__cakeOriginals_img1_url }}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ home__cakeOriginals_img2_url }}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ home__cakeOriginals_img3_url }}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ home__cakeOriginals_img4_url }}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ home__cakeOriginals_img5_url }}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ home__cakeOriginals_img6_url }}" />
        </div>
        <div class="swiper-slide">
          <img src="{{ home__cakeOriginals_img7_url }}" />
        </div>
        <div class="swiper-slide">
          <video width="100%" height="100%" type="video/mp4" autoplay muted src="https://cdn.shopify.com/videos/c/o/v/bb289782f8fa46289ccccdf778bb4e55.mp4" />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="home__cakeOriginals_right">
      <p>Dive into our pre-made original collection. Each piece is crafted with the same passion and quality as our custom wear, offering unique designs that inspire and excite.</p>
      <a class="home__cakeOriginals_cta">
        <div>View <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/arrow_45deg.svg?v=1717993137" /></div>
        <div>Collection</div>
      </a>
    </div>
    </div>
  </div>
  <script>
    const swiper2 = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    autoplay: {
      delay: 5000,
    },
  });
  </script>
</section>

<section id="home__contact" class="home__contact">
  <div class="home__contact_container">
    <div class="home__contact_inner">
      <div>
        <h2>Talk<br>to us</h2>
        <div class="home__contact_socialMedia">
      <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/bxl_facebook.svg?v=1717381227" />
      <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/simple-icons_x.svg?v=1717381227" />
      <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/iconoir_instagram.svg?v=1717381228" />
      <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/mdi_youtube.svg?v=1717381227" />
    </div>
      </div>
    <iframe data-tally-src="https://tally.so/embed/3XGR0g?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="228" frameborder="0" marginheight="0" marginwidth="0" title="Contact form
"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
    </div>
    <img class="home__contact_circleText rotating" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/contact_section_circle_text.svg?v=1717996974" />
  </div>
</section>

<section class="home__instafeed">
  <div class="home__instafeed_container">
    <div class="home__instafeed_top">
        <div class="home__instafeed_topLeft">
          <img src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/cake_logo_round_black.svg?v=1717743012" />
          <h3>cake.teamspirit</h3>
        </div>
        {% include 'button', btn_class: 'primary', btn_text: 'Follow' %}
      </div>
  </div>
</section>