<style>
.home__teamCollection {
  position: relative;
}

.home__teamCollection_container {
  max-width: 1160px;
  margin: 150px auto;
}

.home__teamCollection_grid {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.home__teamCollection_grid a {
  text-decoration: none;
  color: #fff;
}

.home__teamCollection_grid img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.home__teamCollection_item h3 {
  font-weight: 700;
}

.home__teamCollection_cta {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.home__teamCollection_cta a {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  background: #0038FF;
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.home__teamCollection_cta svg {
  margin-left: 8px;
}

.home__teamCollection_line {
  position: absolute;
  top: -75px;
  z-index: -1;
}

.home__teamCollection_item h3 {
  margin: 0;
  line-height: 130%;
}

.home__teamCollection_item {
  border: 2px solid #737373;
  border-radius: 10px;
  overflow: hidden;
  background: #171717;
}

.home__teamCollection_itemText {
  margin: 20px;
  padding-top: 20px;
  display: flex;
  gap: 64px;
  border-top: thin solid #737373;
  align-items: center;
}

.home__teamCollection_itemText span {
  text-transform: uppercase;
  font-size: 14px;
  opacity: .8;
  letter-spacing: 0.7px;
}
</style>

<section class="home__teamCollection">
  <div class="home__teamCollection_container">
    <h2 class="heading-l">Team Collection</h2>
    <p>Check out our custom creations for various teams and see how we bring their visions to life.</p>
    <div>
      <!-- Collections Template (e.g., collections.liquid or a custom section) -->

{% assign selected_collection_names = "Allkem,Gypsy Cafe x Chapter 2,Anabia,SQUAD,EQUITY" | split: "," %}

<div class="home__teamCollection_grid">
  {% for collection in collections %}
    {% if selected_collection_names contains collection.title %}
      <div class="home__teamCollection_item">
        <a href="{{ collection.url }}">
          {% if collection.image %}
            <div><img src="{{ collection.image.src | img_url: '400x' }}" alt="{{ collection.title }}"></div>
          {% else %}
            <img src="https://via.placeholder.com/300" alt="{{ collection.title }}">
          {% endif %}
          <div class="home__teamCollection_itemText">
            <span>Team</span>
            <h3 class="card__title">{{ collection.title | capitalize }}</h3>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  <div class="home__teamCollection_cta">
    <a href="#home__contact"><span>Make <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
    <path d="M14.7463 13.7268L14.7506 0.750614L1.77439 0.754902C1.63925 0.736993 1.50167 0.748352 1.37097 0.78821C1.24026 0.828068 1.11948 0.895494 1.0168 0.985925C0.914122 1.07635 0.831943 1.18768 0.775826 1.31235C0.71971 1.43703 0.690966 1.57216 0.691541 1.70858C0.692117 1.845 0.721997 1.97953 0.779161 2.10307C0.836325 2.22661 0.919435 2.33627 1.02287 2.42462C1.1263 2.51297 1.24764 2.57796 1.37867 2.61519C1.50971 2.65241 1.64737 2.661 1.78235 2.64037L11.506 2.65233L0.612419 13.546C0.433301 13.7251 0.332258 13.9676 0.33152 14.2202C0.330781 14.4727 0.430406 14.7147 0.608479 14.8927C0.786552 15.0708 1.02849 15.1704 1.28106 15.1697C1.53363 15.169 1.77615 15.0679 1.95527 14.8888L12.8489 3.99518L12.8609 13.7189C12.861 13.9716 12.9616 14.2133 13.1404 14.3908C13.3192 14.5684 13.5616 14.6672 13.8143 14.6656C14.067 14.6639 14.3093 14.562 14.4879 14.3821C14.6665 14.2023 14.7667 13.9593 14.7666 13.7066L14.7463 13.7268Z" fill="white"/>
  </svg></span><span>Jersey</span></a>
  </div>
</div>

    </div>
  </div>
  <img class="home__teamCollection_line" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/team_collection_line.svg?v=1717661780"/>
</section>