<style>
.home__teamCollection {
  position: relative;
}

.home__teamCollection_container {
  max-width: 1160px;
  margin: 150px auto;
}

.home__teamCollection_grid {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.home__teamCollection_grid a {
  text-decoration: none;
  color: #fff;
}

.home__teamCollection_grid img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.home__teamCollection_item h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', 'sans-serif';
}

.home__teamCollection_cta {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.home__teamCollection_cta a {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  background: #0038FF;
  line-height: 1;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__teamCollection_line {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .home__teamCollection_grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .home__teamCollection h2 {
    font-size: 48px;
  }

  .home__teamCollection_container {
    padding: 20px;
    margin: 50px auto;
  }

  .home__teamCollection_item {
    box-sizing: border-box;
  }

  .home__teamCollection_grid > div {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
  }

  .home__teamCollection_cta {
    aspect-ratio: 1/1;
  }

  .home__teamCollection_cta a {
    border-radius: 8px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    letter-spacing: 0;
  }
}
</style>

<section class="home__teamCollection">
  <div class="home__teamCollection_container">
    <h2>Team Collection</h2>
    <p>Check out our custom creations for various teams and see how we bring their visions to life.</p>
    <div>
      <!-- Collections Template (e.g., collections.liquid or a custom section) -->

{% assign selected_collection_names = "Allkem,Gypsy Cafe x Chapter 2,Anabia,SQUAD,EQUITY" | split: "," %}

<div class="home__teamCollection_grid">
  {% for collection in collections %}
    {% if selected_collection_names contains collection.title %}
      <div class="home__teamCollection_item">
        <a href="{{ collection.url }}">
          {% if collection.image %}
            <div class="tilt-image"><img src="{{ collection.image.src | img_url: '400x' }}" alt="{{ collection.title }}"></div>
          {% else %}
            <img src="https://via.placeholder.com/300" alt="{{ collection.title }}">
          {% endif %}
          <h3>{{ collection.title | capitalize }}</h3>
          <p>{{ collection.description | truncate: 150 }}</p>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  <div class="home__teamCollection_cta">
    <a href="#home__contact">Create<br>your own</a>
  </div>
</div>

    </div>
  </div>
  <img class="home__teamCollection_line" src="https://cdn.shopify.com/s/files/1/0751/1490/5880/files/team_collection_line.svg?v=1717661780"/>

  <script type="text/javascript">	

	VanillaTilt.init(document.querySelectorAll(".tilt-image"), {
    glare: true, // Enable glare effect
    "max-glare": 0.5,
    "glare-prerender": false,
  });
</script>
</section>